/* Estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24525A;
}

/* Tipografía */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #edf0f1;
    text-decoration: none;
}

/* Cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 10%;
}

.lista {
    list-style: none;
}

.lista li {
    display: inline-block;
    padding: 0px 20px;
}

.lista li a {
    transition: all 0.3s ease 0s;
}

.lista li a:hover{
    color:#0088a9
}

/* Botón de registro */
button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.desplegable {
  position: relative;
  display: inline-block;
  
}

.galeria {
  color: #edf0f1;
  padding: 0px 20px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.desplegable-contenido {
    display: none;
    position: absolute;
  }
  
  .desplegable-contenido a {
    color: #edf0f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .desplegable:hover .desplegable-contenido {
    display: block;
  }
  




#lateral {
	padding:0 50px 0 0;
	  -moz-transition: all 0.5s ease;
	  -webkit-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size:1.2em;
	
	background: rgb(140, 168, 157);
	height:100%;
	overflow:hidden;
	width:370px; 
	position:fixed;
	top:0;
	left:-320px;
}


#lateral:hover:before, #lateral:focus:before {
	left:-500px
}

#lateral:hover, #lateral:focus,  #lateral:active  {
	overflow-y:scroll;
	  -moz-transform: translate(320px, 0);
	  -webkit-transform: translate(320px, 0);
	  -o-transform: translate(320px, 0);
	transform: translate(320px, 0);
	padding-right:0;
}	


#lateral .box {
	list-style-type:none;
	margin-bottom:1em;;
	padding-bottom:1em;
}

#lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-size:1.6em;
	font-style:normal;
	padding-bottom:0.2em;
	margin: 2em 0 2em 0.81em;
	color:rgb(255,255,255);
	border-bottom: 4px solid rgb(155,155,155);
}

#menu {
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
}

#menu li {
	padding:0; 
	margin:0;
}

#menu li a,  #menu li a:link {
	font-size:1.5em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	  -moz-transition: all 1.2s ease;
	  -webkit-transition: all 1.2s ease;
	  -o-transition: all 1.2s ease;
	transition: all 1.2s ease;
}

#menu li a:hover {
	color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.2);
	  -moz-transition: all 0.5s ease;
	  -webkit-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
  
/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 5%;
    }

    .logo {
        width: 10%;
    }

	#lateral {
		padding:0 50px 0 0;
		width:370px;
		left:-320px;
	}
	
	#lateral:hover:before, #lateral:focus:before {
		left:-500px
	}
	
	#lateral:hover, #lateral:focus,  #lateral:active  {
		transform: translate(320px, 0);
	}


#lateral .box {
	list-style-type:none;
	margin-bottom:1em;;
	padding-bottom:1em;
}

#lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-size:1.6em;
	font-style:normal;
	padding-bottom:0.2em;
	margin: 2em 0 2em 0.81em;
	color:rgb(255,255,255);
	border-bottom: 4px solid rgb(155,155,155);
}

#menu {
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
}

#menu li {
	padding:0; 
	margin:0;
}

#menu li a,  #menu li a:link {
	font-size:1.5em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	transition: all 1.2s ease;
}

#menu li a:hover {
	color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.2);
	transition: all 0.5s ease;
}

}